<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head.ejs'); %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header>
        <a href="/" class="logo"><span>M</span>EALIFY</a>
        <div id="menu-bar" class="fas fa-hamburger"></div>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/favourite">Favourite</a></li>
                <li><a href="/random" class="active">Random</a></li>
            </ul>
        </nav>
    </header>
    <section class="random-meal-container" id="random-meal-container">
        <div class="container">
            <div class="result-heading" id="result-heading"></div>
            <div id="meals" class="meals"></div>
            <div id="single-meal"></div>
        </div>
    </section>
    <%- include('../components/footer.ejs'); %>
        <script src="Javascript/random-script.js"></script>
</body>

</html>